<%- include('./partials/head') %>


    <%- include('./partials/navbar') %>
        <h1>Homepage <%= 'Hello world' .toUpperCase() %>
        </h1>
        <!-- Value embedding or evaluated using above symbol -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil, facilis dicta corporis odio sunt
            harum
            et ipsam accusantium, vel omnis possimus, voluptatum cupiditate minima doloribus in repudiandae assumenda
            laudantium!</p>

        <br><br>
        <%- include('./partials/footer') %>